<a href="https://colab.research.google.com/github/tamburins/ESAA-2022-/blob/main/ESAA_10_7_assignment(241_242%2C_256_263)prin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ESAA 10/7과제
판다스 입문 241-242, 256-263p

## 12-1 datetime 오브젝트

: 날짜와 시간을 처리하는 등의 다양한 기능을 제공하는 파이썬 라이브러리로 date, time, datetime 오브젝트를 포함

In [ ]:
#datetimed오브젝트 사용하기
from datetime import datetime
now1 = datetime.now()
print(now1)

2022-10-06 23:59:52.884379

In [ ]:
now2=datetime.today()
print(now2)

2022-10-06 23:59:56.077339

In [ ]:
#시간을 직접 입력하여 생성하기
t1=datetime.now()
t2=datetime(1970, 1,1)
t3=datetime(1970,12,12,13,24,34)

print(t1)
print(t2)
print(t3)

2022-10-07 00:02:06.434076
1970-01-01 00:00:00
1970-12-12 13:24:34

In [ ]:
#시간계산하기
diff1=t1-t2
print(diff1)
print(type(diff1))

diff2 = t2-t1
print(diff2)
print(type(diff2))

19272 days, 0:02:06.434076
<class 'datetime.timedelta'>
-19273 days, 23:57:53.565924
<class 'datetime.timedelta'>

In [97]:
import pandas as pd

In [98]:
#테슬라 주식 데이터로 시간 계산하기
pip install pandas datareader

SyntaxError: ignored

In [101]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

In [102]:
tesla=pdr.get_data_quandl('TSLA', api_key='key')

In [103]:
tesla.to_csv('/content/drive/MyDrive/Colab Notebooks/ESAA/tesla_stock_quandl.csv')

In [104]:
print(tesla.head()) #문자열로 저장되어 있는 tesla 데이터프레임 
print(tesla.tail())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0
              Open    High       Low   Close     Volume  ExDividend  \
Date
2017-10-13  356.98  358.49  353.6800  355.57  3528413.0         0.0
2017-10-12  352.95  359.78  352.6400  355.68  4047318.0         0.0
2017-10-11  353.89  357.60  351.1500  354.60  4476769.0         0.0
2017-10-10  346.80  355.63  345.5305  355.59  6914972.0         0.0
2017-10-09  349.65  351.75  342.6700  342.94  7406324.0         0.0

            SplitRatio  AdjOpen  AdjHigh    AdjLow  AdjClose  AdjVolume
Date
2017-10-13         1.0   356.98   358.49  353.6800    355.57  3528413.0
2017-10-12         1.0   352.95   359.78  352.6400    355.68  4047318.0
2017-10-11         1.0   353.89   357.60  351.1500    354.60  4476769.0
2017-10-10         1.0   346.80   355.63  345.5305    355.59  6914972.0
2017-10-09         1.0   349.65   351.75  342.6700    342.94  7406324.0

In [105]:
#date열을 datetime형으로 변환하려면 read_csv 메서드로 데이터집합을 불러올 때 parse_dates 인자에 date열 전달
tesla=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ESAA/WIKI-TSLA.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         116 non-null    datetime64[ns]
 1   Open         116 non-null    float64
 2   High         116 non-null    float64
 3   Low          116 non-null    float64
 4   Close        116 non-null    float64
 5   Volume       116 non-null    float64
 6   Ex-Dividend  116 non-null    float64
 7   Split Ratio  116 non-null    float64
 8   Adj. Open    116 non-null    float64
 9   Adj. High    116 non-null    float64
 10  Adj. Low     116 non-null    float64
 11  Adj. Close   116 non-null    float64
 12  Adj. Volume  116 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 11.9 KB
None

In [106]:
#date 열의 자료형이 datetime 오브젝트로 변환
#dt 접근자 사용 가능
#불린 추출로 2018년 2월의 데이터 추출(자료의 범위로 할 경우 빈 데이터 프레임이 출력하여 임의로 설정)

print(tesla.loc[(tesla.Date.dt.year==2018)&(tesla.Date.dt.month==2)])

         Date    Open      High       Low    Close      Volume  Ex-Dividend  \
78 2018-02-01  351.00  359.6600  348.6300  349.250   4163194.0          0.0
79 2018-02-02  348.44  351.9500  340.5100  343.790   3674909.0          0.0
80 2018-02-05  337.97  344.4700  333.0000  333.700   4053777.0          0.0
81 2018-02-06  325.21  336.2200  323.5000  333.630   4937928.0          0.0
82 2018-02-07  338.99  346.0000  335.6600  345.000   5846823.0          0.0
83 2018-02-08  343.31  348.6200  314.6000  315.360   9996464.0          0.0
84 2018-02-09  319.93  320.9845  294.7600  310.110  12795099.0          0.0
85 2018-02-12  316.13  318.0800  306.2500  315.730   6166161.0          0.0
86 2018-02-13  315.02  324.1900  312.5105  323.660   4506915.0          0.0
87 2018-02-14  320.84  326.1700  318.5200  322.310   3930911.0          0.0
88 2018-02-15  324.50  334.1200  322.4000  334.065   5892048.0          0.0
89 2018-02-16  332.50  343.1200  331.6400  335.490   5585810.0          0.0
90 2018-02-20  334.47  340.8400  331.5000  334.770   3996951.0          0.0
91 2018-02-21  336.03  339.6929  333.1700  333.300   3181755.0          0.0
92 2018-02-22  335.53  347.4400  334.7501  346.170   6940349.0          0.0
93 2018-02-23  347.83  354.9900  347.1000  352.050   5790795.0          0.0
94 2018-02-26  353.50  359.0000  352.3550  357.420   4312871.0          0.0
95 2018-02-27  356.25  359.9900  350.0100  350.990   4761537.0          0.0
96 2018-02-28  352.57  355.2400  342.2200  343.060   6042895.0          0.0

    Split Ratio  Adj. Open  Adj. High  Adj. Low  Adj. Close  Adj. Volume
78          1.0     351.00   359.6600  348.6300     349.250    4163194.0
79          1.0     348.44   351.9500  340.5100     343.790    3674909.0
80          1.0     337.97   344.4700  333.0000     333.700    4053777.0
81          1.0     325.21   336.2200  323.5000     333.630    4937928.0
82          1.0     338.99   346.0000  335.6600     345.000    5846823.0
83          1.0     343.31   348.6200  314.6000     315.360    9996464.0
84          1.0     319.93   320.9845  294.7600     310.110   12795099.0
85          1.0     316.13   318.0800  306.2500     315.730    6166161.0
86          1.0     315.02   324.1900  312.5105     323.660    4506915.0
87          1.0     320.84   326.1700  318.5200     322.310    3930911.0
88          1.0     324.50   334.1200  322.4000     334.065    5892048.0
89          1.0     332.50   343.1200  331.6400     335.490    5585810.0
90          1.0     334.47   340.8400  331.5000     334.770    3996951.0
91          1.0     336.03   339.6929  333.1700     333.300    3181755.0
92          1.0     335.53   347.4400  334.7501     346.170    6940349.0
93          1.0     347.83   354.9900  347.1000     352.050    5790795.0
94          1.0     353.50   359.0000  352.3550     357.420    4312871.0
95          1.0     356.25   359.9900  350.0100     350.990    4761537.0
96          1.0     352.57   355.2400  342.2200     343.060    6042895.0

In [107]:
#날짜를 인덱스로 지정
tesla.index=tesla['Date']
print(tesla.index)
print(tesla['2017'].iloc[:5,:5])
#2017년 6월의 데이터 추출
print(tesla['2018-01'].iloc[:,:5])

DatetimeIndex(['2017-10-09', '2017-10-10', '2017-10-11', '2017-10-12',
               '2017-10-13', '2017-10-16', '2017-10-17', '2017-10-18',
               '2017-10-19', '2017-10-20',
               ...
               '2018-03-14', '2018-03-15', '2018-03-16', '2018-03-19',
               '2018-03-20', '2018-03-21', '2018-03-22', '2018-03-23',
               '2018-03-26', '2018-03-27'],
              dtype='datetime64[ns]', name='Date', length=116, freq=None)
                 Date    Open    High       Low   Close
Date
2017-10-09 2017-10-09  349.65  351.75  342.6700  342.94
2017-10-10 2017-10-10  346.80  355.63  345.5305  355.59
2017-10-11 2017-10-11  353.89  357.60  351.1500  354.60
2017-10-12 2017-10-12  352.95  359.78  352.6400  355.68
2017-10-13 2017-10-13  356.98  358.49  353.6800  355.57
                 Date    Open      High      Low     Close
Date
2018-01-02 2018-01-02  312.00  322.1099  311.000  320.5300
2018-01-03 2018-01-03  321.00  325.2500  315.550  317.2500
2018-01-04 2018-01-04  312.87  318.5500  305.680  314.6200
2018-01-05 2018-01-05  316.62  317.2400  312.000  316.5800
2018-01-08 2018-01-08  316.00  337.0199  315.500  336.4100
2018-01-09 2018-01-09  335.16  338.8000  327.405  333.6900
2018-01-10 2018-01-10  332.20  337.0000  330.000  334.8000
2018-01-11 2018-01-11  335.24  344.8099  333.260  337.9500
2018-01-12 2018-01-12  338.63  340.4100  333.670  336.2200
2018-01-16 2018-01-16  337.54  345.0000  334.800  340.0600
2018-01-17 2018-01-17  340.47  349.0000  339.750  347.1600
2018-01-18 2018-01-18  345.67  352.3000  343.740  344.5700
2018-01-19 2018-01-19  345.00  350.5899  342.600  350.0200
2018-01-22 2018-01-22  349.40  357.8300  349.200  351.5600
2018-01-23 2018-01-23  360.00  360.5000  351.000  352.7900
2018-01-24 2018-01-24  354.58  354.7500  343.520  345.7404
2018-01-25 2018-01-25  348.27  349.2000  336.400  337.6400
2018-01-26 2018-01-26  341.50  344.0000  335.710  342.8500
2018-01-29 2018-01-29  339.85  350.8500  338.280  349.5300
2018-01-30 2018-01-30  345.14  348.2700  342.170  345.8200
2018-01-31 2018-01-31  347.51  356.1900  345.190  354.4200

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

In [ ]:
#시간간격과 인덱스 - TimedeltaIndex
#시간 간격을 인덱스로 지정하여 데이터 추출
tesla['ref_date']=tesla['Date']-tesla['Date'].min()
print(tesla.head())

                 Date    Open    High       Low   Close     Volume  \
Date
2017-10-09 2017-10-09  349.65  351.75  342.6700  342.94  7406324.0
2017-10-10 2017-10-10  346.80  355.63  345.5305  355.59  6914972.0
2017-10-11 2017-10-11  353.89  357.60  351.1500  354.60  4476769.0
2017-10-12 2017-10-12  352.95  359.78  352.6400  355.68  4047318.0
2017-10-13 2017-10-13  356.98  358.49  353.6800  355.57  3528413.0

            Ex-Dividend  Split Ratio  Adj. Open  Adj. High  Adj. Low  \
Date
2017-10-09          0.0          1.0     349.65     351.75  342.6700
2017-10-10          0.0          1.0     346.80     355.63  345.5305
2017-10-11          0.0          1.0     353.89     357.60  351.1500
2017-10-12          0.0          1.0     352.95     359.78  352.6400
2017-10-13          0.0          1.0     356.98     358.49  353.6800

            Adj. Close  Adj. Volume ref_date
Date
2017-10-09      342.94    7406324.0   0 days
2017-10-10      355.59    6914972.0   1 days
2017-10-11      354.60    4476769.0   2 days
2017-10-12      355.68    4047318.0   3 days
2017-10-13      355.57    3528413.0   4 days

In [ ]:
#ref_date열을 인덱스로 지정>데이터 추출가능
tesla.index=tesla['ref_date']
print(tesla.iloc[:5,:5])

               Date    Open    High       Low   Close
ref_date
0 days   2017-10-09  349.65  351.75  342.6700  342.94
1 days   2017-10-10  346.80  355.63  345.5305  355.59
2 days   2017-10-11  353.89  357.60  351.1500  354.60
3 days   2017-10-12  352.95  359.78  352.6400  355.68
4 days   2017-10-13  356.98  358.49  353.6800  355.57

In [ ]:
print(tesla['5 days':].iloc[:5,:5])

               Date    Open      High     Low   Close
ref_date
7 days   2017-10-16  353.76  354.4800  347.16  350.60
8 days   2017-10-17  350.91  356.2200  350.07  355.75
9 days   2017-10-18  355.97  363.0000  354.13  359.65
10 days  2017-10-19  355.56  357.1465  348.20  351.81
11 days  2017-10-20  352.69  354.5500  344.34  345.10

In [ ]:
#시간 범위와 인덱스
#특정일에 누락된 데이터도 포함시켜 데이터를 살펴볼 경우 임의의 시간범위 생성하여 인덱스 생성
#시간 범위 생성해 인덱스로 지정

In [ ]:
import pandas as pd
import os
ebola = pd.read_csv('https://raw.githubusercontent.com/cmrivers/ebola/master/country_timeseries.csv', parse_dates=[0])

In [ ]:
print(ebola.info()) #문자열로로 저장된 Date열확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 122 non-null    datetime64[ns]
 1   Day                  122 non-null    int64
 2   Cases_Guinea         93 non-null     float64
 3   Cases_Liberia        83 non-null     float64
 4   Cases_SierraLeone    87 non-null     float64
 5   Cases_Nigeria        38 non-null     float64
 6   Cases_Senegal        25 non-null     float64
 7   Cases_UnitedStates   18 non-null     float64
 8   Cases_Spain          16 non-null     float64
 9   Cases_Mali           12 non-null     float64
 10  Deaths_Guinea        92 non-null     float64
 11  Deaths_Liberia       81 non-null     float64
 12  Deaths_SierraLeone   87 non-null     float64
 13  Deaths_Nigeria       38 non-null     float64
 14  Deaths_Senegal       22 non-null     float64
 15  Deaths_UnitedStates  18 non-null     float64
 16  Deaths_Spain         16 non-null     float64
 17  Deaths_Mali          12 non-null     float64
dtypes: datetime64[ns](1), float64(16), int64(1)
memory usage: 17.3 KB
None

In [ ]:
ebola['date_dt']=pd.to_datetime(ebola['Date'])
print(ebola.info()) #데이트열의자료형을datetime오브젝트로변환한다음 ebola 데이터프레임에 새로운 열로 추가

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 122 non-null    datetime64[ns]
 1   Day                  122 non-null    int64
 2   Cases_Guinea         93 non-null     float64
 3   Cases_Liberia        83 non-null     float64
 4   Cases_SierraLeone    87 non-null     float64
 5   Cases_Nigeria        38 non-null     float64
 6   Cases_Senegal        25 non-null     float64
 7   Cases_UnitedStates   18 non-null     float64
 8   Cases_Spain          16 non-null     float64
 9   Cases_Mali           12 non-null     float64
 10  Deaths_Guinea        92 non-null     float64
 11  Deaths_Liberia       81 non-null     float64
 12  Deaths_SierraLeone   87 non-null     float64
 13  Deaths_Nigeria       38 non-null     float64
 14  Deaths_Senegal       22 non-null     float64
 15  Deaths_UnitedStates  18 non-null     float64
 16  Deaths_Spain         16 non-null     float64
 17  Deaths_Mali          12 non-null     float64
 18  date_dt              122 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(16), int64(1)
memory usage: 18.2 KB
None

In [ ]:
ebola=pd.read_csv('https://raw.githubusercontent.com/cmrivers/ebola/master/country_timeseries.csv', parse_dates=[0])
print(ebola.iloc[:5, :5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

In [ ]:
print(ebola.iloc[-5:, :5]) #데이터 누락확인

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

In [ ]:
head_range = pd.date_range(start='2014-12-31', end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
 #date column을 꼭 인덱스로지정후 시간범위를 인덱스로 지정
ebola_5 = ebola.head()
ebola_5.index=ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5, :5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0

###freq 속성값으로 사용할 수 있는 시간 주기

- B 평일만 포함

- C 사용자가 정의한 평일만 포하

- D 달력 일자 단위

- W 주간 단위

- M 월 마지막날만 포함

- SM 15일과 우러 마지막날만 포함

-BM M 주기의 값이 휴일이면 제외하고 평일만 포함

- CBM BM에 사용자 정의 평일을 적용

- MS 월 시작일만 포함

- SMS 월 시작일과 15일만 포함

- BMS MS 주기의 값이 휴일이면 제외하고 평일만 포함

- CBMS BMS에 사용자 정의 평일을 적용

- Q 3,6,9,12월 분기 마지막 날만 포함

- BQ 3,6,9,12월 분기 마지막날이 휴일이면 제외하고 평일만 포함

- QS 3,6,9,12월 분기 시작일만 포함

- BQS 3,6,9,12월 분기 시작일이 휴일이면 제외하고 평일만 포함

- A 년의 마지막 날만 포함

- BA 년의 마지막날이 휴일이면 제외하고 평일만 포함

- AS 년의 시작일만 포함

- BAS 년의 시작일이 휴일이면 제외하고 평일만 포함

- BH 평일을 시간단위로 포함(9:00-16:00)

- H 시간 단위로 포함(00:00-00:00)

- T 분 단위 포함
 
- S 초 단위 포함

- L 밀리초 단위 포함

- U 마이크로초 단위 포함

- N 나노초 단위 포함