<a href="https://colab.research.google.com/github/tamburins/ESAA-2022-/blob/main/%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_%ED%9A%8C%EA%B7%801.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 단순 선형 회귀 분석**
- 전복의 나이를 예측하는 선형회귀모델을 생성하세요.
- 전복의 ‘성별’, ‘키’, ‘지름’, ‘높이’, ‘전체무게’, ‘몸통무게’, ‘내장무게’, ‘껍질무게’를 이용해 ‘껍질의 고리 수’를 예측한 뒤, **예측된 ‘껍질의 고리 수’에 1.5를 더하면 전복의 나이**가 됩니다.

In [60]:
# 기본 모듈 불러오기
import numpy as np
import pandas as pd

**1) 데이터 load 및 변형**

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [61]:
# 데이터 로드
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ESAA/abalone (2).csv")
data.head()
print(data.shape)

# 성별 M은 Male, F는 Female, I는 Infant 이므로 따로 열 만들기
for label in "MFI":
    data[label] = data["Sex"] == label
data.drop('Sex', axis=1, inplace=True)

(4177, 9)

**2) X, y 선택**
: y는 Rings열, X는 Rings열을 제외한 나머지를 선택하되 전부 실수가 되도록 한다.

In [62]:
data.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,M,F,I
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,True,False,False
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,True,False,False
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,False,True,False
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,True,False,False
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,False,False,True

In [86]:
# X,y 데이터 선택
y = data['Rings'].astype(float)
X = data.drop(['Rings'], axis=1, inplace=False)
X = X.astype(float)

 **3) train/test set 분리**

In [87]:
# 필요한 모듈 불러오기
from sklearn.model_selection import train_test_split

In [88]:
# train과 test set 분리 (train:test = 7:3 비율로)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

**4) 선형회귀모델 생성, 모델 예측치 구하기**

In [89]:
#필요한 모듈 불러오기
from sklearn.linear_model import LinearRegression

In [90]:
#선형회귀모델 생성 및 훈련
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [91]:
# 모델 예측치 구하기
y_preds = model.predict(X_test)

# 모델 예측치를 활용해 최종적으로 전복의 나이를 예측
print(y_preds * 1.5)

[13.61740081 13.4127005  18.668119   ... 16.85376264 10.73210857
 16.70321352]

**5) 모델 평가: MSE, RMSE, R2 score, corr 구하기**

In [92]:
#필요한 모듈 불러오기
from sklearn.metrics import mean_squared_error, r2_score

- MSE, RMSE

In [93]:
#mse, rmse
mse = mean_squared_error(y_test, y_preds)
rmse = np.sqrt(mse)
print( mse, rmse)

4.876257288782148 2.2082249180692957

- R2 score

In [103]:
#R2 score 측정
from sklearn.metrics import r2_score
r2_score(y_test, y_preds)

0.5104231130360859

- 회귀 절편값

In [95]:
#회귀 절편 값
print(model.intercept_)

3.600462702728265

- 회귀 계수 값

In [96]:
#회귀 계수 값
print(np.round(model.coef_, 1))

[ -0.6  11.8   8.8  11.  -22.8 -11.5   7.1   0.3   0.3  -0.5]

- 상관계수

Hint: corr 함수 이용.

In [97]:
# 상관계수 구하기
np.corrcoef(y_preds,y_test)

array([[1.       , 0.7183067],
       [0.7183067, 1.       ]])

# **2. Polynomial features**

In [98]:
# PolynomialFeatures 라이브러리 호출
from sklearn.preprocessing import PolynomialFeatures
import numpy as np

In [99]:
# 임의 데이터 생성

X = np.arange(6).reshape(3, 2)

df =  pd.DataFrame(X)
df.columns = ['x_1','x_2']
df

   x_1  x_2
0    0    1
1    2    3
2    4    5

In [100]:
# 차원은 2로 설정
# fit_transform 메소드를 통해 데이터 변환
# PolynomialFeatures로 변환 된 데이터를 데이터 프레임 형태로 변환
poly = PolynomialFeatures(degree=2)
poly.fit(X)
poly_ftr = poly.transform(X)
df_poly = pd.DataFrame(poly_ftr)

In [101]:
# df_poly의 컬럼을 1,x1,x2,x1^2,x1*x2,x2^2 로 변경
df_poly.column = ['1','x1','x2','x1^2','x1*x2','x2^2']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access